li {
    /* margin: 20px; */
    font-size: large;
    list-style-type: none;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
}

li:hover {
    background-color: cornflowerblue;
    color: white;
}

#addTask {
    margin: 20px 0px 20px 0px;
    width: 200px;
    height: 50px;
    background-color: cornflowerblue;
    font-weight: bold;
    color: white;
}

#toDoThing {
    margin: 20px 0px 20px 20px;
    width: 400px;
    height: 44px;
}

.deleteBtn {
    width: 24px;
    height: 24px;
    background-image: url("icons8-multiply-26.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin-left: 10%;
}

.deleteBtn:hover {
    background-color: gray;
}

.deleteBtn {
    color: rgb(134, 134, 134);
    text-decoration: line-through;
}

.inComplete {
    background-color: white;
    text-Decoration: none;
    color: black;
    font-weight: bolder;
    cursor: pointer;
}

.complete {
    background-color: #868686;
    text-decoration: line-through;
    color: white;
    font-weight: normal;
    cursor: pointer;
}